/*RESETEOS----------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    border: grey 1px dotted;
}

/*ESTILOS DEL BODY----------------------------------------------*/

body {
    color: lightslategrey;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    font-family: 'Raleway', Arial, sans-serif;
    background-color: lavender;
}

/*ESTILOS DE BARRA DE NAVEGACION----------------------------------------------*/

nav {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    grid-area: nav
}

/*LOGO PICADAS SP----------------------------------------------*/
.logo img {
    width: 100%;
    max-width: 150px;

}

/*f HAMBURGUESA-------------------------------------------*/
.burguer img {
  max-height: 35px;
}

/*MENU CON LINKS-------------------------------------------*/
.menu {
    width: 100%;
    display: none;
}

.menu ul {
    background-color: black;
    list-style: none;
    font-size: 0;
}

.menu li {
    background-color: black;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    padding: 5px;
    text-align: center;
    float: left;
}

/*LINKS DE LOS MENUS-------------------------------------------*/
.menu a{
    color: white;
    text-decoration: none;
    text-align: center;
}

/*ESTILOS DEL HEADER/
BANNER-------------------------------------------*/

/*BANNER CON MH*/
header {
    background-color: grey;
    background-image: url('../Media/backtabla.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: white;
    grid-area: banner
}

/*LOGO MH*/
.logo-mh {
    display: block;
    text-align: center;
}

/*IMG LOGO MH*/
.logo-mh img {
    width: 100%;
    max-width: 600px;
}

/*TEXTO BANNER*/

.display {
    text-align: center;
}

/*TITULO BANNER*/
.display h1{
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 3px 3px 5px black;
    text-transform: uppercase;
    padding: 15px;
}

/*BAJADA BANNER*/
.display p{
    font-size: 0.8rem;
    text-shadow: 1px 1px 2px black;
    padding: 15px;
}

/*ESTILOS DE DESTACADOS------------------------------------------*/

.destacados {
    background-color: wheat;
    text-align: center;
    padding: 20px 0px;
    grid-area: destacados
}

.cards {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    justify-content: center;
}

.cardelement {
    margin: 10px;
    width: 30%;
    max-width: 400px;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}

.cardelement p {
    font-size: 1rem;
}

.cardtitle {
    font-weight: 900;
    font-size: 1.5rem;
}

.cardimage {
    width: 30%;
    min-width: 300px;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

/*ESTILOS DE PREMIUM------------------------------------------*/

.coleccion {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 10px;
    grid-area: compra;
    align-self: start;
}

.compra img {
    width: 100%;
   
}

.button {
    background-color: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
}

/*ESTILOS DE VIDEO------------------------------------------*/
.trailer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px 0px;
    grid-area: trailer
}

/*ESTILOS DE GALERIA------------------------------------------*/
.galeria {
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 10px;
    grid-area: galeria
}

.titlegal {
    padding: 20px 0px;
}

.fotos {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 30px;
}

.fotoev {
    flex-grow: 1;
}

.foto {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    min-width: 400px;
    min-height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*FOOTER------------------------------------------*/

.footer {
    background-color: gray;
    color: white;
    text-align: center; 
    padding: 25px;
    grid-area: footer;
}

/*GRID-CELDAS DE CELU*/
@media only screen and (min-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 6fr 2fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
        "nav nav"
        "banner banner"
        "destacados compra"
        "trailer compra"
        "galeria compra"
        "footer footer"
        ;

    }

.coleccion {
    position: sticky;
    top: 0px;
}
   


}

/*GRID-CELDAS DE COMPU*/

@media only screen and (min-width: 1020px) {
    body {
        display: grid;
        grid-template-columns: 6fr 2fr 2fr;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "nav nav nav"
        "banner banner compra"
        "destacados trailer compra"
        "galeria galeria compra"
        "footer footer compra"
        ;

    }

.coleccion {
    position: sticky;
    top: 0px;
}
   


}